	  a:link, a:visited{
	    color: #333;
		font-size: 16px;
		text-decoration: none;		   
	  }
	  a:hover, a:active{
	    color: #000;
		text-decoration: underline;  
		font-size: 16px;
		background: none;
	  }
      ul, li{
        position: relative;
        margin: 0px auto;
      }
      #menu{
        display: block;
        margin: 0px auto;
        position: relative;       
      }
      #menu > li{
        display: inline-block;
        position: relative;
        padding: 10px;
        bottom: 10px;
      }
      #menu > li:hover{
        background: #FFF; 
      }
      #menu > li > a{
        display: inline-block;
        height: 20px;
        padding: 0px 10px 0px 10px;
      }
      #menu > li > ul{
        display: none;
        background: #CCC;      
        position: absolute;
      }
      #menu > li:hover > ul{
        display: block;
        padding: 0px;
        top: 40px;
        left: 0px;
        background: #CCC;
      }
      #menu > li:hover > a {
        color: #000;
        text-decoration: none;
      }
      #menu > li:hover > ul > li{
        display: inline-block;
        background: linear-gradient(to top, #CCC, #FFF);
        border: 1px solid #CCC;
      }     
      #menu > li:hover > ul > li > a{
        display: inline-block;
        width: 200px;
        height: 20px;
        padding: 10px 0px 10px 0px;
      }
      #menu > li:hover > ul > li > a:hover{
        background: #9999CC;
        text-decoration: none;
        color: #FFF;
      } 
	  div#Head, div#Foot{
	    background: linear-gradient(to top, #9999CC, #333366);
		width: 1024px;
		height: 100px;
		padding: 20px 100px;
		float: none;
		margin: 0px auto;
		clear: left;
		color: #FFF;
		text-align: center;
	  }
      div#Foot a{
        padding: 0px 20px 0px 20px;
      }
      div#Foot a:link, div#Foot a:visited{
	    color: #CCCCFF;
		font-size: 16px;
		text-decoration: none;
	  }
	  div#Foot a:hover, div#Foot a:active{
	    color: #FFF;
		font-size: 16px;
		text-decoration: underline;
		background: none;
	  }
	  div.InfoLine{
	    background: linear-gradient(to top, #CCC, #FFF);
		width: 1024px;
        height: 20px;
		padding: 10px 100px;
        float: none;
		margin: 0px auto;
		color: #333; 
		text-align: center;
        border-bottom: 1px solid #CCC;
	  }
	  div#Main{
	    background: #FFF;
		width: 1224px;	 /* 1024px + padding-left + padding-right*/
		padding: 10px 0px 10px 0px; 
		margin: 0px auto;
		float: none;
        display: block; 
	  }
	  div.SideBar{
	    background: #FFF;
	    width: 260px;
		float: left;
	  }
	  div.Content{
	    background: #FFF;
		width: 604px;
		padding: 20px 50px 50px 50px;
		text-align: left;
		float: left;
	  }
	  div.HeadMenu{
	    background: linear-gradient(to top, #9999CC, #666699);
		text-align: center;
		padding: 10px 0px 10px 0px;
		font-size: 18px;
		color: #FFF;
	  }
	  div.ContentMenu{
	    background: linear-gradient(to top, #FFF, #CCC);
		border: 1px solid #CCC;
		padding: 20px;
		color: #333;
	  }